<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  a {
    color: var(--bright-blue);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: var(--gray-400);
  }

  main, footer, .results {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    max-width: 380px;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1024px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }

  .logo-image {
    align-self: last baseline;
    width: 45px;
  }

  .die-image {
    width: 1.5rem;
    min-width: 45px;
  }

  .credits {
    bottom: 1rem;
    right: 1rem;
    font-size: 0.75rem;
    color: var(--gray-400);
  }

  .dice-selector {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5em;
  }

  .modifiers {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5em;
  }
  
  .controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
</style>

<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="title">
        <img src="assets/rolling-dices.svg" alt="Rolling dices" class="logo-image"/>
        <h1>Dice Calculator</h1>
      </div>
      
      <p>Welcome to dice calculator. Use the contols to pick dice, then calculate the distribution.</p>
      <p>There is a limit because the calculation algorithm is not very efficient. Depending on your computer the algorithm can take 20ish seconds to generate 60 million iterations.</p>
      <p>Source available on <a target="repo" href="https://github.com/louis-byers/dice-calculator/">Github</a>.</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <h2>Add Dice</h2>
      
      <div class="dice-form">
        <div class="dice-selector" *ngFor="let die of [4,6,8,10,12,20]">
          <button type="button" (click)="removeDie(die)" ariaLabel="remove d{{die}}" [disabled]="!diceEquation.dice.includes(die)">-</button>
          <img class="die-image" src="assets/d{{die}}.svg" alt="d{{die}}" />
          <button type="button" (click)="addDie(die)" ariaLabel="add d{{die}}" [disabled]="overLimit()">+</button>
        </div>
        <div class="dice-selector">
          <button type="button" (click)="removeDie(100)" aria-label="remove d100" [disabled]="!diceEquation.dice.includes(100)">-</button>
          <img class="die-image" src="assets/d10.svg" alt="d10" />
          <img class="die-image" src="assets/d10.svg" alt="d10" />
          <button type="button" (click)="addDie(100)" aria-label="add d100" [disabled]="overLimit()">+</button>
        </div>

        <div class="modifiers">
          <button type="button" (click)="addModifier(-1)" aria-label="decrement modifier">-</button>
          <span>Modifier: @if (diceEquation.modifier > 0) {<span>+</span>} {{ diceEquation.modifier }}</span>
          <button type="button" (click)="addModifier(1)" aria-label="increment modifier">+</button>
        </div>
      
        <div class="controls">
          <button class="calculate-button" type="button" (click)="updateResults()" [disabled]="overLimit()">Calculate</button>
          <button class="clear-button" type="button" (click)="reset()">Clear</button>
        </div>
      </div>
      @if (overLimit()) {
        <div class="dice-limit">Too many dice, remove some.</div>
      }
      <div class="dice-equation">{{ printEquation() }}</div>
    </div>
  </div>
</main>
<div class="results" *ngIf="diceResult.totalResults > 0">
  <div class="results-container">
    <div class="results-header">
      <h2>Results</h2>
    </div>
    <div class="results-content">
      <p class="results-total">Total Possible Results: {{ (diceResult.resultSet | keyvalue).length }}</p>
      <p class="results-total">Total Rolls: {{ diceResult.totalResults | number }}</p>
      <p class="results-total">Calculation Time: {{ diceResult.calculationTime / 1000 | number: '1.0-6' }} seconds</p>
      <ul>
        <li>
          <span class="result">Roll:</span>
          <span class="result-count">&nbsp;Count</span>
          <span class="result-percent">&nbsp; -- %</span>
        </li>
        <li *ngFor="let result of getDisplayList()">
          <span class="result">{{ result.key }}:</span>
          <span class="result-count">&nbsp;{{ result.count | number }}</span>
          <span class="result-percent">&nbsp; -- {{ result.percentage }} %</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<footer>
  <div class="credits">Icons made by Delapouite and Skoll. Obtained from: <a href="https://game-icons.net/tags/dice.html" target="icons">Game Icons</a> </div>
</footer>
